<!DOCTYPE html>
<html>
<head>
	<title>Internship form posting page</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<!-- Vue Js -->
	<script src="node_modules/vue/dist/vue.js"></script>
	</head>
	
	<body>
	<div class="container">
		
		<div class="card mb-3"
			 v-for="(internForm, index) in internForm">
			<div class="card-body">
				<span class="float-right" style="cursor:pointer">
				X
				</span>
				<h4 class="card-title">Internship Posting Form (index:{{ index }} )</h4>
				
				<div class="job-form">
					<input type="text" class="form-control mb-2" placeholder="Company name"
						   v-model="internForm.name">
					
					<input type="text" class="form-control mb-2" placeholder="Job Title"
						   v-model="internForm.job">
					
					<input type="text" class="form-control mb-2" placeholder="Location"
						   v-model="internForm.location">
					
					<input type="text" class="form-control mb-2" placeholder="Length of Intern"
						   v-model="internForm.time">

					<textarea class="form-control" cols="30" rows="10" placeholder="About"
							  v-model="internForm.about"></textarea>
					<!--@click="addNewInternForm"-->
					<button class="btn btn-success mt-5 mb-5">
					Submit Internship Posting
					</button>
				</div>
			</div>
		</div>
	</div>
	<script src="js/index.js"></script>
	</body>
</html>



































